@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
.title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 40px;
}
.subtitle {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 24px;
}
.subtitle-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 24px;
}
.body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.body-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 16px;
}

.caption {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
}

.link {
  font-family: "Poppins", sans-serif;
  color: #40afff;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration-line: underline;
}
